@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #333333;
  text-decoration: inherit;
}
a:hover {
  color: #333333;
}

p{
  color: #333333;
}

body {
  margin: 10;
  min-height: 100vh;
}

h1 {
  font-size: 3.5em;
  line-height: 1.1;
}
h2 {
  font-size: 3em;
  color: #333333;
}
h3 {
  font-size: 2em;
  color: #333333;
}
h4 {
  font-size: 1.5em;
  color: #333333;
}
h5 {
  font-size: 1em;
  color: #333333;
}

h6 {
  font-size: 0.8em;
  color: #333333;
}

label{
  color: rgba(117, 117, 117, 0.87);
}

input{
  background-color: rgba(117, 117, 117, 0.87);
}
textarea{
  background-color: rgba(117, 117, 117, 0.87);
}


